.compose{
    position: absolute;
    bottom: 0;
    right: 70px;
    min-width: 500px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgb(51,51,51/50%);
    background-color: #ffff;
    border: 1px solid rgb(244, 237, 237);
    padding: 0px;
}

.compose__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 4, 4);
    color: white;
}

.compose__header__left {
    font-size: 15px;
}

.compose__header__right svg:nth-child(2) {
    transform: rotate(45deg);
}

.compose__body{
}
.compose__bodyForm{
    display: flex;
    flex-direction: column;
}
.compose__bodyForm input{
    outline: none;
    border: none;
    border-top: 1px solid rgb(239, 231, 231);
    
}
.compose__bodyForm textarea{
    outline: none;
    border: none;
    border-top: 1px solid rgb(239, 231, 231);
}

.compose__footer{
    display: flex;
    justify-content: space-between;
}

.compose__footerLeft{
    display: flex;
    align-items: center;
}
.compose__footerLeft svg{
   
}





