.container{
    display: flex;
    position: static;
    top: 0;
    width: 100%;
    /* height: 100px; */
    justify-content: end;
    align-items: center;
    border: 1px solid red;
    padding: 5px;
}
.container *{
    margin: 5px;
}